*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.backup
*.swp
*~
/build/
/out/
*.dvi
*.idx
*.ilg
*.ind
*.lof
*.lot
*.vscode/
*.idea/
.vscode/
.idea/
*.pdf
*.gz
*.zip
*.tar.gz
*.run.xml
*.bcf
*.toc.bak

1) SOC-Honors.bib
My Library.bib